<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://database.cs.wpi.edu:5432/teamadb</property>
    <property name="connection.username">teama</property>
    <property name="connection.password">teama10</property>
    <property name="connection.autocommit">false</property>
    <property name="default_schema">iterationone</property>

    

    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.ComputerRequestEntity"/>
<!--    <mapping resource="ComputerrequestEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.EdgeEntity"/>
<!--    <mapping resource="EdgeEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.EmployeeEntity"/>
<!--    <mapping resource="EmployeeEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.LocationNameEntity"/>
<!--    <mapping resource="LocationnameEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.MoveEntity"/>
<!--    <mapping resource="MoveEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.NodeEntity"/>
<!--    <mapping resource="NodeEntity.hbm.xml"/>-->
<!--    <mapping resource="SanitationrequestEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.SanitationRequestEntity"/>
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.SecurityRequestEntity"/>
<!--    <mapping resource="SecurityrequestEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.ServiceRequestEntity"/>
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.PatientTransportRequestEntity"/>
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.AccessibilityRequestEntity"/>
<!--    <mapping resource="ServicerequestEntity.hbm.xml"/>-->
    <mapping class="edu.wpi.cs3733.C23.teamA.Database.Entities.AudioVisualRequestEntity"/>
    <!--    <mapping resource="ServicerequestEntity.hbm.xml"/>-->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
  </session-factory>
</hibernate-configuration>