/*.toggle-button:selected {*/
/*    -fx-text-fill: black;*/
/*    -fx-base: transparent;*/
/*    -fx-background: transparent;*/
/*    -fx-focus-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-effect: null;*/
/*}*/